<h3>ResourceEvent</h3>

@page "/ResourceEvent"
@rendermode InteractiveServer
<ResourceNavigation></ResourceNavigation>

@using Syncfusion.Blazor.Gantt
@using Gantt_ServerApp.Components.Pages.Gantt.Resources

<span class="text-primary">@assignmentEventMessage</span>
<SfGantt @ref="ganttInstance" DataSource="@TaskCollection" Height="450px" Width="850px" TreeColumnIndex="1" WorkUnit="WorkUnit.Hour"
         Toolbar="@(new List<string>() { "Add", "Edit", "Update", "Delete", "Cancel", "ExpandAll", "CollapseAll" })">
    <GanttTaskFields Id="@nameof(ResourceData.TaskInfoModel.Id)" Name="@nameof(ResourceData.TaskInfoModel.Name)" StartDate="@nameof(ResourceData.TaskInfoModel.StartDate)" EndDate="@nameof(ResourceData.TaskInfoModel.EndDate)" Duration="@nameof(ResourceData.TaskInfoModel.Duration)"
                     ParentID="@nameof(ResourceData.TaskInfoModel.ParentID)" Work="@nameof(ResourceData.TaskInfoModel.Work)" TaskType="@nameof(ResourceData.TaskInfoModel.TaskType)" Progress="@nameof(ResourceData.TaskInfoModel.Progress)">
    </GanttTaskFields>
    <GanttResource DataSource="ResourceCollection" Id="@nameof(ResourceData.ResourceInfoModel.Id)" Name="@nameof(ResourceData.ResourceInfoModel.Name)" MaxUnits="@nameof(ResourceData.ResourceInfoModel.MaxUnit)" TValue="ResourceData.TaskInfoModel" TResources="ResourceData.ResourceInfoModel"></GanttResource>
    <GanttAssignmentFields DataSource="AssignmentCollection" PrimaryKey="@nameof(ResourceData.AssignmentModel.PrimaryId)" TaskID="@nameof(ResourceData.AssignmentModel.TaskID)" ResourceID="@nameof(ResourceData.AssignmentModel.ResourceId)" Units="@nameof(ResourceData.AssignmentModel.Unit)" ResourceAssignmentChanging="AssignmentHandler" TValue="ResourceData.TaskInfoModel" TAssignment="ResourceData.AssignmentModel"></GanttAssignmentFields>
    <GanttLabelSettings RightLabel="Resources" TValue="ResourceData.TaskInfoModel"></GanttLabelSettings>
    <GanttEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" AllowTaskbarEditing="true"
                       ShowDeleteConfirmDialog="true"></GanttEditSettings>
    <GanttColumns>
        <GanttColumn Field="@nameof(ResourceData.TaskInfoModel.Id)" HeaderText="ID"></GanttColumn>
        <GanttColumn Field="@nameof(ResourceData.TaskInfoModel.Name)" HeaderText="Event Name" Width="250px"></GanttColumn>
        <GanttResourceColumn HeaderText="Event Resources" Width="300px"></GanttResourceColumn>
        <GanttColumn Field="@nameof(ResourceData.TaskInfoModel.Work)" HeaderText="Work"></GanttColumn>
        <GanttColumn Field="@nameof(ResourceData.TaskInfoModel.Duration)" HeaderText="Duration"></GanttColumn>
        <GanttColumn Field="@nameof(ResourceData.TaskInfoModel.TaskType)" HeaderText="Task Type"></GanttColumn>
        <GanttColumn Field="@nameof(ResourceData.TaskInfoModel.StartDate)" HeaderText="Start Date"></GanttColumn>
        <GanttColumn Field="@nameof(ResourceData.TaskInfoModel.EndDate)" HeaderText="End Date"></GanttColumn>
    </GanttColumns>
    <GanttSplitterSettings Position="28%"> </GanttSplitterSettings>
</SfGantt>

@code {
    private SfGantt<ResourceData.TaskInfoModel> ganttInstance { get; set; } = new();
    private List<ResourceData.TaskInfoModel> TaskCollection { get; set; } = new();
    private List<ResourceData.ResourceInfoModel> ResourceCollection { get; set; } = new();
    private static List<ResourceData.AssignmentModel> AssignmentCollection { get; set; } = new();
    private string assignmentEventMessage { get; set; }
    protected override void OnInitialized()
    {
        TaskCollection = ResourceData.GetTaskCollection();
        ResourceCollection = ResourceData.GetResources;
        AssignmentCollection = ResourceData.GetAssignmentCollection();
    }
    private async Task AssignmentHandler(ResourceAssignmentChangeEventArgs<ResourceData.AssignmentModel> args)
    {
        if (args.AddedResources is not null && args.AddedResources.Any())
        {
            assignmentEventMessage = "New resource is added!";
        }
        if (args.UpdatedResources is not null && args.UpdatedResources.Any())
        {
            assignmentEventMessage = "The resource details are updated!";
        }
        if (args.DeletedResources is not null && args.DeletedResources.Any())
        {
            foreach (ResourceData.AssignmentModel assignment in args.DeletedResources)
            {
                if (assignment.TaskID == 2)
                {
                    assignmentEventMessage = "The deleted resource action is canceled!";
                    args.Cancel = true;
                }
            }
        }
        await Task.CompletedTask;
    }
}
