@page "/SelectionChanged"

@using Syncfusion.Blazor.Diagram
@using Syncfusion.Blazor.Diagram.SymbolPalette
@using Syncfusion.Blazor.Buttons

<div class="control-section">
    <div style="width:20%">
        <div id="palette-space" class="sb-mobile-palette" style="border: 2px solid #b200ff">
            <SfSymbolPaletteComponent @ref="@_symbolPalette" Height="300px" Width="200px"
                                      Palettes="@_palettes" SymbolHeight="@_symbolHeight" SymbolWidth="@_symbolWidth" SymbolMargin="@_symbolMargin" SelectionChanged="SelectionChangedMethod">
            </SfSymbolPaletteComponent>
        </div>
    </div>
</div>

@code
{
    // Define symbol preview
    private DiagramSize _symbolPreview;

    // Define symbol margin
    private SymbolMargin _symbolMargin = new SymbolMargin { Left = 15, Right = 15, Top = 15, Bottom = 15 };

    private double _symbolWidth = 60;
    private double _symbolHeight = 60;

    // Reference the symbol palette
    private SfSymbolPaletteComponent _symbolPalette;

    // Define palettes collection
    private DiagramObjectCollection<Palette> _palettes = new DiagramObjectCollection<Palette>();

    // Defines palette's flow-shape collection
    private DiagramObjectCollection<NodeBase> _paletteNodes = new DiagramObjectCollection<NodeBase>();

    protected override void OnInitialized()
    {
        InitPaletteModel();
    }

    private void InitPaletteModel()
    {
        Node node1 = new Node()
        {
            ID = "Rectangle",
            Shape = new BasicShape() { Type = NodeShapes.Basic, Shape = NodeBasicShapes.Rectangle },
            Style = new ShapeStyle() { Fill = "#6495ED", StrokeColor = "#6495ED" },
        };
        Node node2 = new Node()
        {
            ID = "Ellipse",
            Shape = new BasicShape() { Type = NodeShapes.Basic, Shape = NodeBasicShapes.Ellipse },
            Style = new ShapeStyle() { Fill = "#6495ED", StrokeColor = "#6495ED" },
        };
        Node node3 = new Node()
        {
            ID = "Diamond",
            Shape = new BasicShape() { Type = NodeShapes.Basic, Shape = NodeBasicShapes.Diamond },
            Style = new ShapeStyle() { Fill = "#6495ED", StrokeColor = "#6495ED" },
        };
        _paletteNodes.Add(node1);
        _paletteNodes.Add(node2);
        _paletteNodes.Add(node3);

        _palettes = new DiagramObjectCollection<Palette>()
        {
            new Palette() { Symbols = _paletteNodes, Title = "Basic Shapes", ID = "Basic Shapes" },
        };
    }

    private void SelectionChangedMethod(PaletteSelectionChangedEventArgs args)
    {
        if (args.OldValue.Contains("Rectangle"))
        {
            // Actions to be performed
        }

        if (args.NewValue.Contains("Ellipse"))
        {
            // Actions to be performed
        }
    }
}

