<h3>Search_Operators</h3>

@page "/Search_Operators"
@rendermode InteractiveServer
<FilterNavigation></FilterNavigation>

@using Syncfusion.Blazor.Gantt
@using Syncfusion.Blazor.DropDowns

<PageTitle>Gantt Search Operator</PageTitle>

<div style="margin-bottom: 20px;font-weight:bold">
    <label style="margin-right: 10px;">Change the search operator:</label>
    <SfDropDownList Width="150px" TValue="Syncfusion.Blazor.Operator" TItem="DropDownOrder" Value="@SearchOperator" DataSource="@DropDownData">
        <DropDownListFieldSettings Value="Value" Text="Text"></DropDownListFieldSettings>
        <DropDownListEvents TValue="Syncfusion.Blazor.Operator" TItem="DropDownOrder" ValueChange="OnValueChange">
        </DropDownListEvents>
    </SfDropDownList>
</div>

<SfGantt DataSource="@TaskCollection" Height="450px" Width="100%" Toolbar="@(new List<string>() { "Search" })" SearchSettings="@(new GanttSearchSettings { Operator = SearchOperator })">
    <GanttTaskFields Id="TaskID" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration" Progress="Progress" ParentID="ParentID">
    </GanttTaskFields>
</SfGantt>

@code {
    private List<TaskData> TaskCollection { get; set; }
    public Syncfusion.Blazor.Operator SearchOperator { get; set; } = Syncfusion.Blazor.Operator.StartsWith;

    public class DropDownOrder
    {
        public string Text { get; set; }
        public Syncfusion.Blazor.Operator Value { get; set; }
    }

    List<DropDownOrder> DropDownData = new List<DropDownOrder>
    {
        new DropDownOrder(){Text="StartsWith",Value= Syncfusion.Blazor.Operator.StartsWith },
        new DropDownOrder(){Text="EndsWith",Value=Syncfusion.Blazor.Operator.EndsWith},
        new DropDownOrder(){Text="Contains",Value=Syncfusion.Blazor.Operator.Contains},
        new DropDownOrder(){Text="Equal",Value=Syncfusion.Blazor.Operator.Equal}
    };

    public void OnValueChange(ChangeEventArgs<Syncfusion.Blazor.Operator, DropDownOrder> args)
    {
        SearchOperator = args.Value;
    }

    protected override void OnInitialized()
    {
        TaskCollection = GetTaskCollection();
    }

    private static List<TaskData> GetTaskCollection()
    {
        return new List<TaskData>()
        {
            new TaskData() { TaskID = 1, TaskName = "Project initiation", StartDate = new DateTime(2022, 01, 04), EndDate = new DateTime(2022, 01, 07) },
            new TaskData() { TaskID = 2, TaskName = "Identify Site location", StartDate = new DateTime(2022, 01, 04), Duration = "0", Progress = 30, ParentID = 1 },
            new TaskData() { TaskID = 3, TaskName = "Perform soil test", StartDate = new DateTime(2022, 01, 04), Duration = "4", Progress = 40, ParentID = 1 },
            new TaskData() { TaskID = 4, TaskName = "Soil test approval", StartDate = new DateTime(2022, 01, 04), Duration = "0", Progress = 30, ParentID = 1 },
            new TaskData() { TaskID = 5, TaskName = "Project estimation", StartDate = new DateTime(2022, 01, 04), EndDate = new DateTime(2022, 01, 10) },
            new TaskData() { TaskID = 6, TaskName = "Develop floor plan for estimation", StartDate = new DateTime(2022, 01, 06), Duration = "3", Progress = 30, ParentID = 5 },
            new TaskData() { TaskID = 7, TaskName = "List materials", StartDate = new DateTime(2022, 01, 06), Duration = "3", Progress = 40, ParentID = 5 },
            new TaskData() { TaskID = 8, TaskName = "Estimation approval", StartDate = new DateTime(2022, 01, 06), Duration = "0", Progress = 30, ParentID = 5 }
        };
    }

    public class TaskData
    {
        public int TaskID { get; set; }
        public string TaskName { get; set; }
        public DateTime StartDate { get; set; }
        public DateTime EndDate { get; set; }
        public string Duration { get; set; }
        public int Progress { get; set; }
        public int? ParentID { get; set; }
    }
}